* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
}

.navbar input {
  margin-right: 10px;
  padding: 5px;
  flex-grow: 1;
}

.navbar button {
  padding: 5px 15px;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: #e9ecef;
  overflow-y: auto;
}

.main-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.map-view {
  flex-grow: 2; /* Adjust the ratio as needed */
  background-color: #d3d3d3;
}

.table-wrapper {
  height: 30%;
  overflow-y: auto;
}

.table-view {
  background-color: #ffffff;
  overflow-y: auto; /* Enable vertical scrolling */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8; /* Light gray background similar to Excel */
}

th {
  background-color: #e8e8e8; /* Slightly darker gray for header */
}

table,
th,
td {
  border: 1px solid #ddd; /* Lighter border color similar to Excel */
}

th,
td {
  padding: 8px;
  text-align: left;
}

tbody tr:hover {
  background-color: #e2e2e2; /* Slightly darker color on hover */
}
